@use '../style/loader/colors-public' as *;

.applist {
    min-height: 64px;
    margin: 3px 0;
    padding: 0px 3px;

    .panel-item {
        margin-left: 3px;
    }

    .panel-button {
        padding: 6px 6px;
        border-radius: 16px;
        margin-bottom: 3px;
    }

    .indicator {
        background-color: $theme_fg_color;
        min-width: 6px;
        min-height: 6px;
        border-radius: 9999px;
    }

    .active {
        .panel-button {
            background: $borders;
        }
    }

    .fullscreen {
        .panel-button {
            background: $theme_selected_bg_color;
        }
    }
}